<div class="project">
  <div class="header">
    <div class="title">{{ project.title }}</div>
    <div class="presentation">{{ project.description }}</div>
  </div>
  <div class="images">
    <div class="cover-image">
      <img
        [src]="`assets/images/${project.slug}/${project.image}`"
        [alt]="project.title"
      />
    </div>
    <div class="small-images">
      @for (image of project.presentationImages; track $index) {
      <div class="image">
        <p-image
          [src]="`assets/images/${project.slug}/${image}`"
          class="presentation-image"
          [alt]="project.title"
          [preview]="true"
        />
      </div>
      }
    </div>
  </div>
</div>
