@use "../../../shared/overrides/variables" as vars;

.navbar{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    .recon-logo {
        width: 100%;
        height: 4rem;
        display: flex;
        border: none;
        justify-content: center;
        background: vars.$green-lime-300;

        img {
            width: 5rem;
            object-fit: contain;
        }
    }

    .navbar-tab-icon {
        width: 2rem;
    }
}
