@use "../overrides/variables.scss" as vars;

.navbar {
  height: 100px;
  background: vars.$color1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-weight: 200;

    &:hover {
      cursor: pointer;
      color: vars.$color4;
    }
  }

  .navigation {
    display: flex;
    gap: 0.5rem;
  }
}
