@use "./shared/overrides/variables.scss" as vars;

.router-outlet {
  height: calc(100vh - 100px);
  background: vars.$color4;
}

.router-outlet-mobile {
  min-height: calc(100vh - 60px);
  background: vars.$color4;
}
