@font-face {
    font-family: AvoltaDisplay-SemiBold;
    src: url('./Avolta-Display/AvoltaDisplay-SemiBold.ttf');
}

@font-face {
    font-family: AvoltaSans-Light;
    src: url('./Avolta-Saans/Saans-Light.ttf');
}

@font-face {
    font-family: AvoltaSans-MediumItalic;
    src: url('./Avolta-Saans/Saans-MediumItalic.ttf');
}

@font-face {
    font-family: AvoltaSans-Regular;
    src: url('./Avolta-Saans/Saans-Regular.ttf');
}

@font-face {
    font-family: AvoltaSans-SemiBold;
    src: url('./Avolta-Saans/Saans-SemiBold.ttf');
}

@font-face {
    font-family: AvoltaSans-Bold;
    src: url('./Avolta-Saans/Saans-Medium.ttf');
}

@font-face {
    font-family: AvoltaSans-SemiBoldItalic;
    src: url('./Avolta-Saans/Saans-SemiBoldItalic.ttf');
}