<div [ngClass]="{ project: !isMobile, 'project-mobile': isMobile }">
  <div class="header">
    <div class="title">{{ project?.title }}</div>
    <div class="presentation">
      <div>{{ project?.description }}</div>
      @if(project?.url){
        <br/>
        <a [href]="project?.url" target="_blank">View Project</a>
      }
    </div>
  </div>
  <div class="images">
    <div class="cover-image">
      <img [src]="project?.imageUrl" [alt]="project?.title" />
    </div>
    <div class="small-images">
      @for (image of project?.presentationImagesUrl; track $index) {
      <div class="image">
        <p-image
          [src]="image"
          class="presentation-image"
          [alt]="project?.title"
          [preview]="true"
        />
      </div>
      }
    </div>
  </div>
</div>
