@use "../shared/overrides/variables.scss" as vars;

.image-section {
  background: url("../../assets/images/login-image.webp");
  background-position: top;
  background-size: cover;
  background-color: vars.$green-lime;
  margin-left: -1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-section {
  background: url("../../assets/logos/login-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: vars.$green-lime;
  border-bottom-right-radius: 30px;
  z-index: 1;
  margin-left: -2rem;
}

.login-box {
  background-color: vars.$green-lime;
  display: flex;
  flex-direction: column;
  padding: 1.6rem 2rem;
  border-radius: 10px;

  .title {
    font-size: 1.8rem;
    font-weight: 700;
    color: vars.$night;
    margin-bottom: 1rem;
    margin-top: 0;
  }
}
