<div
  class="project"
  [ngClass]="
    index % 2 === 0 ? 'flex-row image-right' : 'flex-row-reverse image-left'
  "
>
  <div class="presentation">
    <div class="header">{{ project.title }}</div>
    <div class="description">{{ project.description }}</div>
    <br />
    <br />
    <p-button
      [routerLink]="['/projects/' + project.title]"
      class="view-project"
      [label]="'View Project'"
    />
  </div>
  <div class="image">
    <img [src]="project.image" [alt]="project.title" />
  </div>
</div>
