<div
  [ngClass]="{
    'flex-row image-right': index % 2 === 0 && !isMobile,
    'flex-row-reverse image-left': index % 2 === 1 && !isMobile,
    'image-right': index % 2 === 0 && isMobile,
    'image-left': index % 2 === 1 && isMobile,
    'project': !isMobile,
    'project-mobile': isMobile,
  }"
>
  <div
    class="presentation"
    [ngClass]="{ 'text-end': !isMobile && index % 2 === 1 }"
  >
    <div class="header">{{ project.title }}</div>
    <div class="description">{{ project.description }}</div>
    <br />
    <br />
    <div class="flex justify-content-center">
      <p-button
        [routerLink]="['/projects/' + project.slug]"
        class="view-project"
        [ngClass]="{ 'view-project-mobile': isMobile }"
        [label]="'View Project'"
      />
    </div>
  </div>
  <div class="image">
    <img [src]="project.imageUrl" [alt]="project.title" />
  </div>
</div>
