@use "../../shared/overrides/variables.scss" as vars;

.project {
  height: 80%;
  padding: 100px 70px;
  overflow: hidden;
  border-top: 1px solid vars.$color2;
  border-bottom: 1px solid vars.$color2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  .presentation {
    min-width: 50%;
    width: 50%;

    .header {
      font-size: 6rem;
    }

    .description {
      font-size: 1.5rem;
    }
  }

  .image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      border-radius: 50px;

      object-fit: contain;
    }
  }
}

.project-mobile {
  width: 90%;
  padding: 20px 10px;
  overflow: hidden;
  border: 1px solid vars.$color2;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  margin: auto;

  .presentation {
    width: 100%;

    .header {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }

    .description {
      margin-top: 1rem;
      font-size: 1.3rem;
    }
  }

  .image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 70%;
      border-radius: 50px;

      object-fit: contain;
    }
  }
}

.image-right {
  background: vars.$color4;
}

.image-left {
  background: vars.$color3;
}
